/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1350px) {
  .section-flagships {
    width: 100%;
  }

  .container--beer-cards-flagship {
    width: 90%;
  }

  /* About Us */
  .about-us--container {
    width: 98%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  /* Flagships */
  .beer-card--flagship {
    /* Grid */
    width: 420px;
    grid-template-rows: 300px auto auto auto auto auto auto auto;
    font-size: 90%;
  }

  .beer-card--image {
    height: 300px;
  }

  .beer-card--ingredients-icon {
    height: 16px;
    width: 16px;
  }

  .container--beer-cards-flagship {
    width: 86%;
  }

  /* Taplist */
  .tap-card--beer-style,
  .tap-card--beer-abv-ibu,
  .tap-card--beer-description {
    font-size: 15px;
  }

  .tap-card {
    max-width: 650px;
  }

  /* About Us */
  .about-us--container {
    width: 86%;
  }

  /* Footer */
  .section-footer p {
    font-size: 20px;
  }
}
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 17px;
  }

  /* Navbar - MOBILE*/
  .nav-bar {
    /* Positioning */
    z-index: 100;
    left: 10px;
    top: 10px;
    padding: 0px;
    /* Size */
    width: 50px;
    height: 50px;
    background-size: 50px;
    /* Styling */
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(img/nav-menu.svg);
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 50%;
  }

  .nav-icon {
    display: none;
  }

  .nav-bar:hover {
    width: min-content;
    height: max-content;
    border-radius: 2px;
    transition-duration: 0.1s;
    padding: 0px 150px 0px 10px;
  }

  .nav-bar:hover .nav-icon {
    display: flex;
  }

  .nav-bar:hover .nav-link::before {
    display: unset;
  }

  .nav-link:hover .nav-icon {
    transition-duration: 0.2s;
    background-color: lightgreen;
  }

  .nav-bar::before {
    content: "";
    margin-top: 50px; /* Used to set positioning of clickable elements in dropdown menu*/
  }

  .nav-link::before {
    content: attr(data-text);
    /* Position & Size */
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    top: 35%;
    left: 120%;
    width: max-content;
    /* Style */
    text-align: left;
    color: white;
    opacity: 1;
    transition-duration: 0s;
  }

  /* Title Adjustments */
  .title-slide {
    width: 100%;
    height: 100%;
    background-size: 750px;
    background-repeat: repeat;
    background-position: top;
  }

  h1 {
    font-size: 525%;
  }

  .section-title {
    height: 500px;
  }

  /* Vision Adjustments */
  .section-vision {
    height: min-content;
  }

  .section-vision p {
    width: 80%;
    max-width: 450px;
  }

  /* Flagships */
  .section-flagships {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Taplist */
  .tap-card {
    width: 95vw;
    height: min-content;
    grid-template-rows: 50px auto auto auto 25px;

    grid-template-areas:
      "beer-image beer-name beer-name beer-name"
      "beer-image beer-style beer-style beer-abv-ibu"
      "beer-image . . ."
      "beer-image beer-description beer-description beer-description"
      "beer-ingredients . . beer-release-date";
  }

  .tap-card--beer-name {
    align-self: center;
  }

  .tap-card--image-wrapper .icon--gold-medal {
    height: 35px;
    width: 35px;
    left: 20px;
    top: 1px;
  }

  .tap-card--beer-abv-ibu {
    justify-self: center;
  }

  .tap-card--brewer-title,
  .tap-card--container--brewer-icons {
    display: none;
  }

  .tap-card--beer-description {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  .tap-card--image-wrapper {
    height: 100px;
    width: 100px;
    margin: 0px;
  }

  .tap-card--image {
    height: inherit;
    width: inherit;
    margin: unset;
  }

  .tap-card--ingredients-dropdown {
    /* left: -10%; */
    align-items: flex-start;
    text-align: left;
    text-indent: -17px;
    padding-left: 17px;
    min-width: 200px;
  }

  /* About Us */
  .about-us--large-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "brewer-image"
      "brewer-name"
      "brewer-description";
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 375%;
  }

  /* Title Adjustments */
  .title-slide {
    width: 100%;
    height: 100%;
    background-size: 480px;
    background-position: top;
  }

  .section-title {
    height: 350px;
  }

  /* Flagships */
  .beer-card--flagship {
    width: 325px;
    padding: 10px 0px 5px 0px;
    /* Set to image height */
    grid-template-rows: 275px auto auto auto auto auto auto auto;
  }

  .beer-card--image {
    height: 275px;
    left: 25px; /* (Container Width - image Width - padding) / 2 */
  }

  .beer-card--ingredients-icon {
    height: 14px;
    width: 14px;
  }

  .tap-card--image-wrapper .icon--gold-medal {
    height: 25px;
    width: 25px;
    left: 15px;
    top: 1px;
  }

  /* Taplist */
  .tap-card {
    grid-template-columns: 70px 1fr 0.75fr 1fr;
    grid-template-rows: 50px auto auto auto 25px;
  }

  .tap-card--image-wrapper {
    height: 75px;
    width: 75px;
  }

  .tap-card--ingredients {
    width: 100%;
    height: 100%;
  }

  .tap-card--beer-style,
  .tap-card--beer-abv-ibu {
    font-size: 13px;
  }

  /* About Us */
  .about-us--brewer-image-large {
    height: 300px;
  }
}
