@media only screen and (max-width: 1999px) {
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1350px) {
  .section-vision p {
    line-height: 150%;
    padding-top: 20px;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .section-vision p {
    width: 450px;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  /* Title Adjustments */
  .title-slide {
    width: 100%;
    height: 100%;
    background-size: 800px;
    /* background-size: contain; */
    background-repeat: repeat;
    /* background-position: unset; */
    background-position: top;
  }

  .section-title {
    height: 500px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 400%;
  }

  /* Title Adjustments */
  .title-slide {
    width: 100%;
    height: 100%;
    background-size: 480px;
    /* background-size: contain; */
    /* background-repeat: repeat; */
    /* background-position: unset; */
    background-position: top;
  }

  .section-title {
    height: 350px;
  }
}
