/* CSS DIRECTORY
    1. =GLOBAL STYLING
    2. =NAV
    3. =TITLE
    4. =VISION
    5. =FLAGSHIPS
    6. =TAPLIST
    7. =INSTAFEED
    8. =ABOUTUS
    9. =EVENTS
    10.=FORM
    11.=FOOTER
    12.=ANIMATIONS
*/

/* ====================
   ===GLOBAL STYLING===
   ==================== */

:root {
  --scrollbarBG: rgba(207, 216, 220, 0.25);
  --thumbBG: rgba(207, 204, 204, 0.75);
  --thumbBGTransparent: rgba(188, 194, 197, 0.534);
  --siteBG: rgb(97, 97, 97);
  --beerCardColor: rgb(190, 190, 190, 0.75);
  --componentBGImage: linear-gradient(
    rgba(175, 174, 174, 0.4),
    rgba(138, 135, 135, 0.5)
  );
  --componentBGImageDark: linear-gradient(
    rgba(40, 40, 40, 0.4),
    rgba(20, 20, 20, 0.4)
  );

  /* Beer Colors */
  --beerColorFilterRed: invert(17%) sepia(64%) saturate(7484%)
    hue-rotate(357deg) brightness(115%) contrast(118%);
  --beerColorFilterPink: invert(50%) sepia(83%) saturate(411%)
    hue-rotate(332deg) brightness(87%) contrast(94%);
  --beerColorFilterWhite: invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(240deg) brightness(104%) contrast(100%);
  --beerColorFilterDarkYellow: invert(74%) sepia(55%) saturate(5327%)
    hue-rotate(18deg) brightness(103%) contrast(101%);
  --beerColorFilterLightYellow: invert(97%) sepia(61%) saturate(1377%)
    hue-rotate(328deg) brightness(94%) contrast(90%);
  --beerColorFilterPurple: invert(13%) sepia(23%) saturate(7154%)
    hue-rotate(300deg) brightness(105%) contrast(102%);
  --beerColorFilterLightPurple: invert(10%) sepia(97%) saturate(4173%)
    hue-rotate(346deg) brightness(77%) contrast(95%);
  --beerColorFilter4_0SRM: invert(67%) sepia(26%) saturate(2236%)
    hue-rotate(12deg) brightness(100%) contrast(101%);
  --beerColorFilter12_40SRM: invert(36%) sepia(99%) saturate(344%)
    hue-rotate(350deg) brightness(100%) contrast(101%);
  --beerColorFilter3_0SRM: invert(75%) sepia(89%) saturate(372%)
    hue-rotate(358deg) brightness(91%) contrast(93%);
  --beerColorFilter2_8SRM: invert(61%) sepia(75%) saturate(357%)
    hue-rotate(12deg) brightness(109%) contrast(95%);

  /* Flagship Card Dimensions */
  --flagshipContainerWidth: 470px;
  --flagshipImageHeight: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* text */
  color: white;
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -5;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background */
  background-color: var(--siteBG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url(img/site_background.JPG);
  background-position: 30%;
  background-size: cover;
  background-attachment: fixed;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 20px;
}

.hidden {
  display: none;
}

/* ==========
   ===NAV===
   ========== */

/* ============
   ===TITLE===
   ============ */
.section-title {
  margin-top: 0px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

/* Header */
h1 {
  /* Positioning */
  position: relative;
  width: fit-content;
  height: min-content;
  top: 20%;
  /* Font */
  font-family: "Fredericka the Great", "Arial", cursive;
  font-weight: lighter;
  font-size: 700%;
  text-align: center;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.548) 1px 0 10px;
}

h1 span {
  color: white;
  text-shadow: #fc0 1px 0 30px;
  left: -4%;
  z-index: 2;
  font-size: 50%;
  font-weight: 500;
  transform: rotate(0.9turn);
  position: absolute;
}

/* Slideshow Photos */
.title-slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: 1.5s;
  transition-timing-function: ease;
  opacity: 1;
  display: block;
}

.title-slide[data-slide="1"] {
  background-color: #5f692e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(img/title/title_img_1.JPG);
}

.title-slide[data-slide="2"] {
  background-color: #765336;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(img/title/title_img_2.JPG);
}

.title-slide[data-slide="3"] {
  background-color: #6d6b4e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(img/title/title_img_3.JPG);
}

.js--title-hidden {
  opacity: 0;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

/* Title Flex Wrapper */
.title-slide--flex-wrapper {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: space-between;
}

/* Slideshow Buttons */
.section-title button {
  color: rgba(255, 255, 255, 0.486);
  background-color: transparent;
  border: none;
  width: 5%;
  font-size: 150%;
  z-index: 1;
  transition: 0.5s;
  /* position: absolute; */
}

.section-title button:hover {
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

/* This works */
/* .slideshow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */

/* ==============
   ===VISION ===
   ============== */
h2 {
  align-self: center;
  padding-top: 50px;
  font-size: 275%;
}

.section-vision {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.section-vision p {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 150%;
  font-size: 110%;
}

/* ================
   ===FLAGSHIPS===
   ================ */
/* General */
.section-flagships {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 20px 10px;
  background-image: linear-gradient(
    rgba(80, 80, 80, 0.6),
    rgba(80, 80, 80, 0.6)
  );
  margin-bottom: 20%;
}

.section-flagships h2 {
  margin-bottom: 20px;
  margin-top: 0px;
}

/* Beer Card Container */
.container--beer-cards-flagship {
  /* Important for Flexbox Overflow */
  /* https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content */
  overflow: auto;
  display: flex;
  flex: 1;
  scrollbar-width: thick;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  scroll-behavior: smooth;
}

/* OVERFLOWING FLEXBOX WRAPPER */
.flex-overflow-wrapper {
  display: flex;
  min-width: min-content;
  width: 100%;
  padding-bottom: 20px;
  /* Scrollbar */
}

/* Overflowing flexbox horizontal scrollbar*/
.container--beer-cards-flagship::-webkit-scrollbar {
  height: 18px;
}

.container--beer-cards-flagship::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumbBG);
}

.container--beer-cards-flagship::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 6px;
}
.container--beer-cards-flagship::-webkit-scrollbar-thumb {
  background-color: var(--thumbBGTransparent);
  border-radius: 6px;
}

/* BEER CARD - FLAGSHIP */
.beer-card--flagship {
  /* Grid */
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--flagshipImageHeight) auto auto auto auto auto auto auto;
  grid-template-areas:
    "beer-image beer-image"
    "beer-name beer-name"
    "beer-style beer-abv-ibu"
    "beer-description beer-description"
    "beer-malt beer-malt"
    "beer-hops beer-hops"
    "beer-yeast beer-yeast"
    "beer-extra beer-extra";
  /* Positioning */
  height: min-content;
  width: var(--flagshipContainerWidth);
  padding: 20px;
  margin: 0px 20px 5px 10px;
  /* Styling */
  background-image: var(--componentBGImage);
  border-radius: 15px;
  font-size: 85%;
}

/* Beer Card Image - Flagship */
.beer-card--image-container {
  grid-area: beer-image;
  position: relative;
  height: fit-content;
}

.beer-card--image {
  /* Positioning */
  position: absolute;
  height: var(--flagshipImageHeight);
  left: 40px; /* (Container Width - image Width - padding) / 2 */
  /* Styling */
  border-radius: 15px;
  border: 3px solid white;
  box-shadow: 2px 5px 5px black;
}

.beer-card--image-icon {
  position: absolute;
  height: 75px;
  width: 75px;
  left: 12%;
  top: 3px;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.25));
}

.award-text {
  /* Interactivity */
  visibility: hidden;
  /* Positioning */
  position: absolute;
  width: 300px;
  top: 10%;
  left: 100%;
  padding: 5px 0;
  /* Styling */
  font-size: 95%;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.beer-card--image-icon:hover {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.beer-card--image-icon:hover .award-text {
  visibility: visible;
}

/* Beer Card - Flagship - Attributes */
.beer-card--flagship h3 {
  grid-area: beer-name;
  place-self: center center;
  text-align: center;
  font-size: 180%;
  padding: 10px 0px 5px 0px;
}

.beer-card--abv-ibu,
.beer-card--style {
  place-self: center center;
  font-style: italic;
  text-align: center;
  padding: 1px 0px;
}

.beer-card--style {
  grid-area: beer-style;
}

.beer-card--abv-ibu {
  grid-area: beer-abv-ibu;
}

.beer-card--description {
  grid-area: beer-description;
  place-self: center;
  line-height: 145%;
  text-align: center;
  margin: 5px;
  padding: 5px 0px;
}

.beer-card--ingredients-icon {
  height: 18px;
  width: 18px;
  background-position: center;
  background-size: contain;
  display: inline-block; /* Key to making this div inline with text */
}

.beer-card--ingredient {
  /* Grid */
  place-self: center center;
  /* Styling */
  font-style: italic;
  font-size: 95%;
  max-width: 75%;
  text-align: center;
}

.beer-card--malt {
  grid-area: beer-malt;
}
.beer-card--hops {
  grid-area: beer-hops;
}
.beer-card--yeast {
  grid-area: beer-yeast;
}
.beer-card--extra,
.beer-card--fruit {
  grid-area: beer-extra;
}

/* ==============
   ===TAPLIST===
   ============== */

/* Section Styling */
.section-taplist {
  /* Positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding-bottom: 1%;
  padding-top: 2%;
  /* Background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/taplist_fridge_clipped.JPG);
  /* Green option */
  /* background-image: linear-gradient(rgb(15, 59, 36), rgba(9, 34, 21)); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Animation */
  transition: 1.5s;
  transition-timing-function: ease;
}

.section-taplist h2 {
  margin-top: 20px;
  padding-bottom: 1%;
  text-align: center;
}

/* Flagship Tap Cards */
.container--tap-cards {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 775px);
  width: 100%;
}

.tap-card {
  /* Sizing & Position */
  width: 750px;
  height: 175px;
  /* max-height: 175px; */
  margin: 0px 10px 10px 10px;
  padding: 5px;
  /* Grid - Self */
  justify-self: center;
  /* Grid - Children */
  display: inline-grid;
  grid-template-columns: 0.6fr 1fr 0.75fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "beer-image beer-name beer-name beer-name"
    "beer-image beer-style beer-abv-ibu beer-brewer-title"
    "beer-image beer-description beer-description beer-brewers"
    "beer-image beer-description beer-description beer-brewers"
    "beer-ingredients . . beer-release-date";
  /* Styling */
  /* background-image: var(--componentBGImage); */
  background-image: linear-gradient(
    rgba(138, 138, 138, 0.8),
    rgba(100, 100, 100, 0.8)
  );
  border-radius: 15px;
}

/* TAP CARD - Beer Image */
.tap-card--image-wrapper {
  grid-area: beer-image;
  place-self: center center;
  position: relative;
  height: 100%;
  width: 100%;
}

.tap-card--image {
  position: absolute;
  height: 90%;
  width: 90%;
  margin: 5%;
}

.tap-card--image-wrapper .icon--gold-medal {
  position: absolute;
  top: -3.5%;
  left: 5%;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
}

/* TAP CARD - Beer Descriptors */
.tap-card--beer-name {
  grid-area: beer-name;
  align-self: end;
  justify-self: start;
  font-size: 120%;
  font-weight: bold;
}

.tap-card--beer-style {
  grid-area: beer-style;
  font-style: italic;
  font-size: 85%;
  align-self: center;
  justify-self: start;
}

.tap-card--beer-abv-ibu {
  grid-area: beer-abv-ibu;
  font-style: italic;
  font-size: 85%;
  align-self: center;
  justify-self: end;
}

.tap-card--beer-description {
  grid-area: beer-description;
  padding-top: 2px;
  font-size: 75%;
  line-height: 135%;
}

.tap-card--release-date {
  grid-area: beer-release-date;
  font-size: 75%;
  place-self: center;
  text-align: center;
}
/* Brewer Icons */
.tap-card--brewer-title {
  grid-area: beer-brewer-title;
  font-size: 85%;
  align-self: end;
  justify-self: center;
  font-style: italic;
}
.tap-card--container--brewer-icons {
  /* Flex-Children */
  display: flex;
  align-content: center;
  align-items: center;
  /* Grid-Self */
  align-self: center;
  justify-self: center;
  grid-area: beer-brewers;
}

.tap-card--brewer-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* border: 1px solid gray; */
  overflow: hidden;
  margin: 0px 1px;
  background-image: var(--componentBGImage);
  background-size: cover;
  position: relative;
  overflow: visible;
}

.tap-card--brewer-image:hover {
  box-shadow: 1px 2px 2px black;
}

.tap-card--brewer-image:hover::after {
  /* Text */
  content: attr(data-brewer);
  font-size: 75%;
  text-align: center;
  /* Position & Size */
  position: absolute;
  min-width: 100%;
  width: auto;
  top: 90%;
  z-index: 5;
  /* Style */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px;
}

/* Tap Card Ingredients */
.tap-card--ingredients {
  /* Grid & Position*/
  grid-area: beer-ingredients;
  place-self: center;
  position: relative;
  width: 95%;
  height: 95%;
  /* Text */
  font-size: 80%;
  text-align: center;
  /* Style */
  border-radius: 5px;
  background-color: rgba(128, 125, 125, 0.795);
  /* background-color: #124129; */
  /* background-color: #092215; */
  box-shadow: 1px 1px 1px black;
}

.tap-card--ingredients p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tap-card--ingredients-dropdown {
  /* Positioning */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Text Alignment */
  text-align: left;
  text-indent: -20px;
  padding: 2px 2px 2px 22px;
  /* Styling */
  background-color: rgba(0, 0, 0, 0.884);
  font-style: italic;
  border-radius: 5px;
  max-width: 500px;
  min-width: 200px;
  list-style: none;
  /* Visibility */
  visibility: hidden;
}

.tap-card--ingredients:hover {
  background-color: #1d5f3d;
  box-shadow: 1px 2px 2px black;
}

.tap-card--ingredients:hover .tap-card--ingredients-dropdown {
  visibility: visible;
  z-index: 5;
}

.tap-card--ingredients-icon {
  height: 15px;
  width: 15px;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

/* TAP CARD BULK DATA LINES */
/* Brewer Images */
*[data-brewer="John"] {
  background-image: url(img/brewers/brewer_john.JPG);
}
*[data-brewer="Kris"] {
  background-image: url(img/brewers/brewer_kris.JPG);
}
*[data-brewer="Sarah"] {
  background-image: url(img/brewers/brewer_sarah.JPG);
}
*[data-brewer="Andrew"] {
  background-image: url(img/brewers/brewer_andrew.JPG);
}
*[data-brewer="Joe"] {
  background-image: url(img/brewers/brewer_joe.JPG);
}
*[data-brewer="Lance"] {
  background-image: url(img/brewers/brewer_lance.JPG);
}
*[data-brewer="Ryan"] {
  background-image: url(img/brewers/brewer_ryan.JPG);
}
*[data-brewer="Patrick"] {
  background-image: url(img/brewers/brewer_patrick.JPG);
}

/* Pint Colors */
.tap-card--image[data-color="red"] {
  filter: var(--beerColorFilterRed);
}
.tap-card--image[data-color="clear"] {
  opacity: 0.1;
}
.tap-card--image[data-color="dark-yellow"] {
  filter: var(--beerColorFilterDarkYellow);
}
.tap-card--image[data-color="white"] {
  opacity: 0.8;
}
.tap-card--image[data-color="light-yellow"] {
  filter: var(--beerColorFilterLightYellow);
}
.tap-card--image[data-color="purple"] {
  filter: var(--beerColorFilterPurple);
}
.tap-card--image[data-color="pink"] {
  filter: var(--beerColorFilterPink);
}
.tap-card--image[data-color="light-purple"] {
  filter: var(--beerColorFilterLightPurple);
}
.tap-card--image[data-color="4.0SRM"] {
  filter: var(--beerColorFilter4_0SRM);
}
.tap-card--image[data-color="12.4SRM"] {
  filter: var(--beerColorFilter12_40SRM);
}
.tap-card--image[data-color="3.0SRM"] {
  filter: var(--beerColorFilter3_0SRM);
}
.tap-card--image[data-color="2.8SRM"] {
  filter: var(--beerColorFilter2_8SRM);
}

/* ================
   ===INSTAFEED===
   ================ */

/* =============
   ===ABOUTUS===
   ============== */

/* =============
   ===EVENTS===
   ============= */

/* ===========
   ===FORM===
   =========== */

/* =============
   ===FOOTER===
   ============= */

/* =================
   ===ANIMATIONS===
   ================= */ ;
